

.calculator{
  background-color: var(--bg-secondary);
  border-radius: 25px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  padding: 40px;
  width: 350px;
  height: 100%;
  transition: all 0.3s ease;
  position: relative;
}

.calculator-screen {
  width: 92%;
  font-size: 32px;
  text-align: right;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  background-color: color-mix(in srgb, var(--bg-secondary) 95%, rgb(12, 10, 10));
  color: var(--text-primary);
  letter-spacing: 1px;
}

.calculator-buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  background-color: var(--button-bg);
  color: var(--text-secondary);
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: var(--button-hover);
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

button:active {
  transform: scale(0.95);
  background-color: var(--button-active);
}
